body{ font-family: 'OpenSans', sans-serif; }
h1, h2, h3, h4, h5, h6 { color: unset;display: unset;font-family: unset;font-size: unset;font-weight: unset;margin: 0;padding: 0; }
a:hover, a:focus, a:active{ text-decoration: none; color: none; outline: none; @include transition( all 500ms ease 0s ); }
input:focus, select:focus, textarea:focus { outline: none; }
ul, li{ list-style: outside none none; padding: 0;margin: 0; }

#back-to-top {
    background: $red;
    border: 2px solid $red;
    bottom: 15px;
    color: #fff;
    cursor: pointer;
    display: none;
    padding: 10px 14px;
    position: fixed;
    left: 15px;
    z-index: 99;
    @include border-radius( 50% );
    @include box-shadow( 0 0 18px 2px );

    .fa { color: rgb(255, 255, 255); }
    &:hover { border: 2px solid #1564bd; }
}

@font-face{
    font-family: 'OpenSans';
    src:url('../../dist/fonts/OpenSans.ttf');
}
@font-face{
    font-family: 'OpenSansBold';
    src:url('../../dist/fonts/OpenSans-Bold.ttf');
}
@font-face{
    font-family: 'OpenSansExtraBold';
    src:url('../../dist/fonts/OpenSans-ExtraBold.ttf');
}

figure { position: relative; z-index: 1; }
img { max-width: 100%; }

.display-none { display: none; }
.bao { margin: auto; width: calc(100% - 30px); }
.mean-remove { display: none !important; }

/**/
.title a {
    color: #000000;
    display: block;
    margin: 10px 0 0;
    overflow: hidden;
    padding-left: 15px;
    position: relative;

    &:hover {
        color: $red;
    }
    &::after {
        background: $red;
        content: "";
        height: 6px;
        left: 0;
        position: absolute;
        top: 7px;
        width: 6px;
        @include border-radius( 50% );
    }
}
.item:first-child .title a, .item-content .title > span {
    color: $red;
    font-family: opensansbold;
    font-size: 16px;
    padding-left: 0;
}
        .item:first-child .title a::after {
            display: none;
        }
        .item:first-child .item-content {
            margin: auto;
            min-height: 140px;
            padding-bottom: 10px !important;
            position: relative;
        }
.category-title a, .widget .widget-title{
    border-bottom: 1px solid $red;
    color: $red;
    display: block;
    font-family: opensansbold;
    font-size: 22px;
    margin-bottom: 20px;
    padding: 10px 0;
    text-transform: uppercase;
}
.category .title a::after {
    display: none;
}


.date {
    color: rgb(159, 159, 159);
    font-size: 12px;
    margin-bottom: -5px;
    margin-top: 5px;
}
.desc {
    color: #000000;
    margin-top: 10px;
    text-align: justify;
}
.btn-readmore {
    color: rgb(205, 97, 94);
    display: block;
    margin-top: 15px;
    text-align: right;
}
.btn-readall {
    background: rgba(0, 0, 0, 0) url("../../dist/images/img/bg-button.png") no-repeat scroll 0 0;
    color: rgb(255, 255, 255);
    font-family: opensansbold;
    padding: 2px 25px;
    position: absolute;
    right: 0;
    top: 50%;
    @include transform( translateY(-50%) );
    @include border-radius( 6px );

    &:hover, &:active, &:focus {
        color: #ffffff;
    }
}
.page-title {
    position: relative;
}
.station {
    margin-bottom: 30px;
}
