/*archive diem ban*/
.article-list {
    margin-bottom: 30px;

    .map {
        border-bottom: 1px solid $red;
        clear: left;
        color: $red;
        display: inline-block;
        font-family: opensansbold;
        font-size: 20px;
        margin: 30px 0 5px;
        padding-bottom: 5px;
        width: 100%;

        &:first-child {
            margin-top: 0;
        }

        .fa {
            margin-right: 10px;
        }
    }
}

/*archive hoi dap*/
.ask-news {
    background: $red;
    color: rgb(255, 255, 255);
    display: block;
    font-family: opensansbold;
    font-size: 20px;
    margin: 30px 0 0;
    padding: 10px 0 10px 20px;
    text-transform: uppercase;
}
.ask-content {
    margin-bottom: 30px;

    .ask-item {
        border-bottom: 1px solid rgb(229, 229, 229);
        border-left: 1px solid rgb(229, 229, 229);
        border-right: 1px solid rgb(229, 229, 229);
        padding: 15px;
        color: #000000;

        div {
            margin-bottom: 10px;
        }
        .title-faq {
            a {
                color: $red;
                font-family: opensansbold;
                font-size: 16px;
            }
        }
        .btn-faq {
            color: $red;
            font-family: opensansbold;
        }
        .desc-faq {
            b {
                float: left;
            }
        }
    }
}

