/*category*/
.stick-content {
    .bao-vien {
        display: inline-block;
        position: relative;
        width: 100%;
        margin-bottom: 30px;

        &::after {
            border-bottom: 1px solid $red;
            bottom: -10px;
            content: "";
            height: 10px;
            left: 15px;
            position: absolute;
            width: calc(100% - 30px);
            z-index: 222222;
        }
        .item-first {
            position: relative;

            .date {
                display: none;
            }
            .item-content {
                .title a {
                    background: rgba(255, 0, 0, 0.4) none repeat scroll 0 0;
                    bottom: 0;
                    color: rgb(255, 255, 255);
                    font-family: opensansbold;
                    font-size: 18px;
                    left: 15px;
                    padding: 10px 20px;
                    position: absolute;
                    width: calc(100% - 30px);
                    z-index: 3;
                }
            }
            figure {
                max-height: 393px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }
        }
        .item-no-first {
            .item {
                border-bottom: 1px solid rgb(229, 229, 229);
                display: inline-block;
                padding: 15px 0;
                width: 100%;

                figure {
                    float: left;
                    margin-right: 20px;
                    max-height: 75px;
                    overflow: hidden;

                    img {
                        max-width: 120px;
                        width: 100%;
                    }
                }
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    border-bottom: medium none;
                }
                .item-content {
                    min-height: auto !important;
                    padding: 0 !important;

                    .title a {
                        color: $red;
                        font-family: opensansbold;
                        font-size: 14px;
                        margin-top: -3px;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

.page-article {
    .article-list {
        .item {
            display: inline-block;
            margin-bottom: 30px;
            width: 100%;
            position: relative;

            &::after {
                border-bottom: 1px solid rgb(229, 229, 229);
                bottom: -15px;
                content: "";
                height: 10px;
                left: 0;
                position: absolute;
                width: 100%;
            }
            &:last-child:after {
                display: none;
            }

            figure {
                float: left;
                max-height: 150px;
                overflow: hidden;

                img {
                    float: left;
                    margin-right: 20px;
                    max-width: 230px;
                    width: 230px;
                }
            }
            .item-content {
                min-height: auto;

                .title {
                    margin-top: -5px;

                    a {
                        color: $red;
                        font-family: opensansbold;
                        font-size: 16px;
                        margin-top: -3px;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

