//contac form hoi dap trang chu
.form-contact-home {
    display: inline-block;
    width: 100%;
}
.form-contact-home input, .form-contact-home textarea {
    background: rgb(246, 246, 246) none repeat scroll 0 0;
    border: 1px solid rgb(230, 230, 230);
    color: rgb(102, 102, 102);
    font-size: 14px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    @include border-radius( 4px );
}
.form-contact-home .bao-form input {
    float: left;
    width: 48%;
}
.form-contact-home .bao-form input:first-child {
    margin-right: 4%;
}
.form-contact-home .faqSubmit {
    background: rgb(241, 170, 0) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    float: right;
    padding: 5px 35px;
    text-transform: uppercase;
    width: auto;
}

