/*footer*/
footer {
    background: rgb(244, 242, 241) none repeat scroll 0 0;
    color: #000000;

    .main-footer {
        padding: 30px 0 10px;

        .text {
            color: rgb(1, 153, 52);
            display: block;
            font-family: opensansbold;
            font-size: 15px;
            margin-bottom: 12px;
            text-transform: uppercase;
        }

        .col-left {
            .info-footer {
                .text {

                }
                .footer-logo {
                    display: inline-block;
                    float: left;

                    img {
                        float: left;
                        margin-right: 30px;
                    }
                }
                > address {
                    display: inline-block;
                    float: left;
                    margin-bottom: 0;
                    width: 60%;

                    span {
                        display: block;
                        line-height: 2;
                    }
                }
            }
        }
        .col-right {
            .text {
                color: $red;
            }
            .group {
                > address {
                    float: left;
                    margin-bottom: 0;
                    width: 50%;

                    span {
                        color: rgb(0, 0, 0);
                        display: block;
                        line-height: 1.6;
                    }
                    &:nth-child(2) {
                        padding-left: 55px;
                    }
                    .location {
                        color: rgb(1, 153, 52);
                        font-family: opensansbold;
                    }
                    .phone-number a {
                        color: rgb(255, 102, 0);
                        font-family: opensansbold;
                    }
                    .phone-text {
                        color: rgb(0, 0, 0);
                        font-family: opensansbold;
                    }
                }
            }
        }
    }
    .footer {
        border-top: 1px solid rgb(229, 229, 229);
        padding: 15px 0;

        .design {
            text-align: right;
        }
    }
    a {
        color: rgb(0, 0, 0);
    }
}

