/*header*/
header {
    background: rgba(0, 0, 0, 0) url("../../dist/images/img/bg-header.jpg") repeat scroll 0 0;
    margin-bottom: 30px;
    position: relative;

    .header-content {
        display: -webkit-flex;
        @include align-items( center );

        .logo {
            display: inline-block;
            float: left;
            width: 30%;
            position: relative;

            &::after {
                background: rgba(0, 0, 0, 0) url("../../dist/images/img/after-logo.png") no-repeat scroll 0 0;
                content: "";
                height: 100%;
                position: absolute;
                right: 0;
                top: 50%;
                width: 110px;
                @include transform( translateY(-50%) );
            }
        }

        .header-right {
            float: left;
            width: 70%;

            .sitename {
                float: left;
                padding-left: 40px;
                width: 50%;

                span {
                    color: rgb(254, 251, 250);
                    display: block;
                    font-size: 27px;
                }

                .text-name {
                    font-size: 29px;
                    font-weight: 800;
                    text-transform: uppercase;
                }
            }

            .hotline {
                float: right;
                height: 70px;
                line-height: 1.1;
                padding-top: 5px;
                position: relative;
                text-align: right;
                width: 270px;

                span {
                    color: rgb(255, 255, 255);
                    display: block;
                    font-size: 18px;
                }

                .number a {
                    font-family: "OpenSansBold";
                    font-size: 37px;
                    color: #ffffff;
                }

                .bg-phone .fa {
                    border: 2px solid rgb(255, 255, 255);
                    color: rgb(255, 255, 255);
                    font-size: 55px;
                    left: 0;
                    padding: 5px 12px;
                    position: absolute;
                    top: 50%;
                    @include border-radius( 50% );
                    @include transform( translateY(-50%) );
                }
            }
        }
    }
    .menu {
        background: rgb(205, 97, 94) none repeat scroll 0 0;
        border: 3px solid rgb(242, 119, 116);
        clear: both;
        width: 100%;
        @include border-radius( 40px );

        .main-menu {
            ul {
                display: -webkit-flex;
                @include align-items( center );
                @include justify-content( space-between );

                li {
                    display: -webkit-flex;
                    @include align-items( center );
                    height: 60px;
                    position: relative;
                    width: 100%;

                    &::after {
                        background: rgba(0, 0, 0, 0) url("../../dist/images/icon/line-menu-dinh.jpg") no-repeat scroll 0 0;
                        content: "";
                        height: 35px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        width: 2px;
                        @include transform( translateY(-50%) );
                    }
                    &:last-child::after {
                        display: none;
                    }

                    &:hover {
                        font-family: OpenSansExtraBold;
                    }

                    a {
                        color: #fff;
                        display: inline-block;
                        font-size: 16px;
                        line-height: 1.3;
                        text-align: center;
                        width: 100%;

                        .map {
                            color: #00f6ff;
                            font-family: opensansbold;
                            padding-left: 20px;
                            text-transform: uppercase;
                            position: relative;

                            .fa {
                                font-size: 30px;
                                left: 0;
                                position: absolute;
                                top: 50%;
                                @include transform( translateY(-50%) );
                            }
                        }
                    }
                }
                .current-menu-item {
                    a {
                        font-family: OpenSansExtraBold;
                    }
                    &::before {
                        border-bottom: 11px solid rgb(255, 255, 255);
                        border-left: 8px solid rgba(0, 0, 0, 0);
                        border-right: 8px solid rgba(0, 0, 0, 0);
                        bottom: -3px;
                        content: "";
                        left: 50%;
                        position: absolute;
                        @include transform( translateX(-50%) );
                    }
                }
            }
        }
    }
}


/*mean menu mobile*/
.menu .mean-container .mean-bar {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    left: 0;
    max-width: 480px;
    min-height: auto;
    padding: 0;
    position: absolute;
    top: 5px;
    z-index: 11;
}
.menu .mean-container .mean-bar .meanmenu-reveal {
    left: 0 !important;
    height: auto;
    line-height: 18px;
    padding: 12px 13px 11px;
    top: -5px;
}
.menu .mean-container .mean-bar .mean-nav {
    background: #cd615e none repeat scroll 0 0 !important;
    margin-top: 40px;
}
.menu .mean-container .mean-nav ul li a.mean-expand {
    height: 23px;
}
.menu .mean-container .mean-nav ul li li a {
    opacity: 1;
}
.menu .mean-container .mean-nav ul li a.mean-expand:hover {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
}
.menu .mean-container .meanmenu-reveal span {
    background: transparent;
}
.menu .mean-container .mean-nav ul li a {
    text-transform: inherit;
}
.menu .mean-container .meanmenu-reveal {
    border: 2px solid rgb(205, 97, 94);
    color: rgb(205, 97, 94);
}
.menu .mean-container a.meanmenu-reveal span {
    background: rgb(205, 97, 94) none repeat scroll 0 0;
}
.menu .mean-container .mean-nav ul li {
    background: rgb(205, 97, 94) none repeat scroll 0 0;
}


.menu-mobile-link {
    display: none;
}

