/*banner*/
.banner-home {
    margin-bottom: 30px;

    .bn-item img {
        width: 100%;
        @include border-radius( 10px );
    }
}

/*featured*/
.featured-product {
    .featured-home {
        .featured-item {
            margin-bottom: 30px;

            .category-title {
                a {
                    background: $red;
                    border: 1px solid $red;
                    color: rgb(255, 255, 255);
                    font-size: 18px;
                    margin-bottom: 0;
                    text-align: center;
                    padding-left: 20px;
                    @include border-radius( 10px 10px 0 0 );
                }
                &::after {
                    background: rgba(0, 0, 0, 0) url("../../dist/images/icon/icon-thuoc.png") no-repeat scroll 0 0;
                    content: "";
                    height: 70px;
                    left: 20px;
                    position: absolute;
                    top: -12px;
                    width: 44px;
                    z-index: 4;
                }
            }
            .featured-content {
                border: 1px solid rgb(229, 229, 229);
                padding-bottom: 10px;

                .item {
                    figure {
                        margin-top: -2px;
                        // max-height: 132px;
                        // overflow: hidden;

                        img {
                            width: 100%;
                        }
                    }
                    .item-content {
                        padding: 0 15px;
                    }

                    &:first-child {
                        .item-content {
                            min-height: auto;

                            &::after {
                                border-bottom: 1px dashed;
                                bottom: 0;
                                content: "";
                                height: 1px;
                                left: 50%;
                                position: absolute;
                                width: calc(100% - 30px);
                                @include transform( translateX(-50%) );
                            }
                        }
                        .title a {
                            height: 50px;
                            overflow: hidden;
                        }
                    }
                }
                .title a {
                    height: 40px;
                    overflow: hidden;
                }
                .desc {
                    margin-top: 0;
                }
            }
        }
    }
}
.featured-content .item:nth-child(5), .featured-content .item:nth-child(6), .featured-content .item:nth-child(7), .featured-content .item:nth-child(8){
    display: none;
}

/*main-content*/
.home-product {
    background: rgba(0, 0, 0, 0) url("../../dist/images/img/bg-div-home.png") repeat-x scroll left top !important;
    border: 1px solid rgb(229, 229, 229);
    margin-bottom: 30px;
    padding: 0 15px 10px;
    @include border-radius( 5px );

    .home-product-content {
        .item {
            figure {
                border: 4px solid rgb(228, 228, 228);
                float: left;
                margin-right: 3%;
                max-height: 150px;
                overflow: hidden;
                width: 32%;

                img {
                    max-width: 225px;
                    width: 100%;
                }
            }
            .item-content {
                border-bottom: medium none;
                display: inline-block;
                width: 65%;

                .desc {
                    margin-top: 0;
                }
            }
            &:first-child {
                border-bottom: 1px solid rgb(229, 229, 229);
                display: inline-block;
                padding-bottom: 15px;
                width: 100%;

                .item-content {
                    .title a {
                        margin-top: -5px;
                        height: 50px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}





