/*page navi*/
.navigation {
    clear: both;
    display: block;
    float: left;
    text-align: right;
    width: 100%;
    margin-bottom: 30px;

    .pages {
        display: none;
    }

    span, a {
        background-color: rgb(249, 249, 249);
        border: medium none;
        color: rgb(0, 0, 0);
        display: inline-block;
        line-height: 35px;
        margin-left: 10px;
        min-width: 36px;
        text-align: center;
        @include border-radius( 2px );
    }

    a:hover, .current {
        background: $red;
        color: rgb(255, 255, 255);
        display: inline-block;
        font-weight: bold;
        margin-top: 1px;
    }
}

/*breadcrumb*/
.breadcrumbs {
    border-bottom: 1px solid $red;
    margin: 0 auto 15px;
    padding-bottom: 15px;
    width: calc(100% - 30px);
}
.breadcrumbs a, .breadcrumbs strong {
    color: rgb(0, 0, 0);
    font-family: opensansbold;
    font-size: 16px;
    font-weight: normal;
}