/*sidebar*/
.sidebar {
    margin-bottom: 30px;

    .widget {
        margin-bottom: 30px;
        img {
            width: 100%;
        }
        .category-title a, .widget-title {
            background: $red;
            color: rgb(255, 255, 255);
            font-size: 16px;
            margin-bottom: 0;
            text-align: center;
            @include border-radius( 5px 5px 0 0 );
        }
        .widget-content {
            border: 1px solid rgb(229, 229, 229);
            padding: 15px;

            .item {
                .title-sidebar {
                    display: inline-block;
                    margin-top: -3px;
                    overflow: hidden;
                    width: 74%;

                    a {
                        color: #000000;

                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
    .ask-sidebar {
        .widget-content {
            padding: 10px 15px;
        }
        .item {
            border-bottom: 1px dashed rgb(204, 204, 204);
            display: inline-block;
            padding: 10px 0;
            width: 100%;

            &:last-child {
                border-bottom: medium none;
            }
        }
        figure {
            clear: both;
            display: inline-block;
            float: left;
            margin-right: 4%;
            max-width: 68px;
            width: 22%;
        }
    }
}


