/*cttin*/
.page-article {
    .article-details {
        .article-content {
            .detail {
                .title-detail {
                    color: $red;
                    font-family: opensansbold;
                    font-size: 24px;
                    margin-bottom: 15px;
                }
                .description {
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    line-height: 2;
                    text-align: justify;
                    font-family: Arial;
                    overflow: auto;

                    table {
                        width: 900px;
                    }
                }
                .share {
                    display: inline-block;
                    margin: 15px 0;
                }
            }
        }
    }
}


/*adv-article*/
.adv-article {
    display: -webkit-flex;
    @include justify-content( space-between );
    width: 100%;
}


/*related-post*/
.related-post {
    margin-bottom: 30px;

    .caption-text {
        margin: 30px 0 15px;
        position: relative;

        &::after {
            background: rgba(0, 0, 0, 0) url("../../dist/images/icon/line-slide.png") repeat-x scroll 0 0;
            bottom: -15px;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            width: 100%;
        }
        .text {
            background: rgb(255, 255, 255) none repeat scroll 0 0;
            color: $red;
            font-family: opensansbold;
            font-size: 20px;
            padding-right: 10px;
            position: relative;
            z-index: 2;
        }
    }
    ul {
        li {
            border-bottom: 1px dashed;
            padding-bottom: 10px;

            &:last-child {
                border-bottom: medium none;
            }
        }
    }
}

/*box-fb-comment*/
.box-fb-comment {
    display: inline-block;
    margin-top: 30px;
    width: 100%;

    .fb_iframe_widget {
        display: block;

        > span {
            width: 100% !important;

            > iframe {
                width: 100% !important;
            }
        }
    }
}

/*ads*/
.ads {
    clear: left;
    img {
        margin-bottom: 30px;
        width: 100%;
    }
}
