/*RESPONSIVE*/
@media screen and (min-width:1367px) and (max-width:1920px) {
}

@media screen and (min-width:1200px) and (max-width:1366px) {
}

@media screen and (min-width:992px) and (max-width:1199px) {
	.container {
		width: 100%;
	}
	.bao {
	    width: 100%;
	}
	/*header*/
	header .logo img {
	    width: 170px;
	}
	header .menu .main-menu ul li a {
	    color: #fff;
	    display: inline-block;
	    font-size: 12px;
	    line-height: 1.3;
	    text-align: center;
	    width: 100%;
	}
	/*featured-product*/
	.featured-product .featured-home .featured-item .category-title a {
	    font-size: 16px;
	    padding-left: 30px;
	}
}

@media screen and (max-width:992px) {
	.container {
		width: 100%;
	}
	.bao {
	    width: 100%;
	}
	/*header*/
	header {
		.logo {
			&::after {
			    display: none;
			}
			img {
			    max-width: 200px;
			}
		}
		.header-content {
			.header-right {
				width: 100%;

				.hotline {
				    float: left;
				    height: auto;
				    padding-top: 7px;
				    width: 200px;
				}
				.sitename {
					.text-name {
					    font-size: 25px;
					}
					span {
					    font-size: 22px;
					}
				}
			}
		}
	}

	header .menu {
		background: #333333 none repeat scroll 0 0;
		border: medium none;
		height: 45px;
		margin-left: -15px;
		margin-right: -15px;
		width: auto;
		@include border-radius( 0 );

		.mobile-menu {
		    float: left;
		    position: absolute;
		    width: 100%;
		}
		.menu-mobile-link {
		    display: inline-flex;
		    margin-left: 60px;
		    position: relative;
		    z-index: 12;

		    li a {
			    color: #fff;
			    display: inline-block;
			    font-size: 16px;
			    padding: 12px;
			    text-transform: uppercase;
			    white-space: nowrap;

			    &:hover {
				    color: #cd615e;
				}
			}
		}
	}

	.mobile-menu br {
	  display: none;
	}
	.bg-phone .fa {
	    display: none;
	}

	/*footer*/
	footer .main-footer .col-right .group > address:nth-child(2) {
	    padding-left: 15px;
	}
	/*featured-product*/
	.featured-product .featured-home .featured-item .category-title a {
	    font-size: 12px;
	    padding-left: 40px;
	}
	/*cttin*/
	.page-article .article-details .article-content .detail .title-detail {
	    font-size: 20px;
	}
	/*category*/
	.stick-content .bao-vien .item-first figure {
	    max-height: inherit;
	}
	.stick-content .bao-vien .item-no-first .item figure {
	    max-height: inherit;
	}
}
/*end-992*/

@media screen and (min-width:768px) and (max-width:991px) {

}

@media screen and (max-width:767px) {
	.item:first-child .item-content {
	    min-height: auto !important;
	}
	/*header*/
	header {
		.logo {
		    text-align: center;
		    width: auto;

		    img {
			    max-width: 150px;
			}
		}
		.header-content {
			.header-right {
		    	margin: 15px 0;
			    width: 100%;
			    float: right;

			    .sitename {
					float: right;
					padding-top: 5px;
					text-align: center;
					width: auto;

					span {
					    font-size: 13px;
					}

					.text-name {
					    font-size: 14px;
					}
				}
				.hotline {
					float: right;
					padding-top: 5px;
					text-align: center;
					width: auto;

					span {
					    font-size: 13px;
					}
					.number a {
					    font-size: 20px;
					}
				}
			}
		}
	}

	/*footer*/
	.main-footer .col-right {
	    margin-top: 15px;
	}
	footer .footer {
	    padding: 10px 0;
	}
	/*sidebar*/
	.sidebar {
	    display: none;
	}
	/*featured-home*/
	.featured-product .featured-home .featured-item {
		.category-title a {
		    font-size: 18px;
		    padding: 10px 0;
		}
		.featured-content {
			.item {
				figure {
				    max-height: inherit;
				}
				&:first-child .title a {
				    height: auto;
				    margin-bottom: 10px;
				}
				.title a {
				    height: auto;
				}
			}
		}
	}
	/*category*/
	.stick-content .bao-vien::after {
		bottom: 0;
	}
	.item-no-first {
	    margin-top: 15px;
	}
	/*cttin*/
	.adv-article {
	    display: block;
	    text-align: center;
	}
	.adv-article .adv-article-center {
	    margin: 10px 0;
	}
}
/*end-767*/
@media screen and (min-width:667px) and (max-width:767px) {

}

@media screen and (min-width:481px) and (max-width:667px) {
	/*footer*/
	footer .footer {
		.copyright, .design {
		    text-align: center;
		    width: 100%;
		}
	}
}

@media screen and (max-width:480px) {
	/*header*/
	header .header-content .header-right {
	    margin: 5px 0;

	    .sitename {
			text-align: right;
			width: 100%;
			padding-left: 0;
		}
		.hotline {
			text-align: right;
			width: 100%;
		}
	}
	/*footer*/
	footer {
		.main-footer {
			.col-left {
				.info-footer {
					> address {
					    width: 100%;
					}
				}
				.col-right {
					.group {
						> address {
							width: 100%;

							&:nth-child(2) {
							    margin-top: 10px;
							    padding-left: 0;
							}
						}
					}
				}
			}
		}
		.footer {
			.copyright, .design {
			    text-align: center;
			    width: 100%;
			}
		}
	}

	/*featured-home*/
	.featured-product .featured-home .featured-item .category-title a {
	    font-size: 14px;
	    padding-left: 30px;
	}
	/*main-home*/
	.category-title a {
	    font-size: 20px;
	    padding: 5px 0;
	}
	.btn-readall {
	    display: none;
	}
	.home-product .home-product-content .item {
		figure {
			margin-right: 0;
			max-height: inherit;
	    	width: 100%;

			img {
			    width: 100%;
			    max-width: inherit;
			}
		}
		.item-content {
		    width: 100%;
		}
		&:first-child figure {
		    margin-bottom: 15px;
		}
		&:first-child .item-content .title a {
	        height: auto;
	        margin-bottom: 10px;
	    }
	}

	/*footer*/
	footer .main-footer {
	    padding: 15px 0;
	}
	/*diem ban*/
	.article-list .map {
	    margin: 15px 0 5px;
	}
	/*category*/
	.page-article .article-list .item figure img {
	    float: none;
	    margin-right: 0;
	    margin-bottom: 15px;
	    max-width: inherit;
	    width: 100%;
	}
	.stick-content .bao-vien .item-first .item-content .title a {
	    font-size: 16px;
	    padding: 5px 10px;
	}
	.page-article .article-list .item figure {
    	float: none;
	    max-height: inherit;
	}
}
/*end-480*/
@media screen and (min-width:320px) and (max-width:399px) {
	/*header*/
	header .logo img {
	    margin-top: 0;
	    max-width: 120px;
	}
	header .menu .menu-mobile-link li a {
		font-size: 14px;
		padding: 12px 5px;
	}
	.footer {
	  margin-bottom: 30px;
	}
}

@media screen and (min-width:0px) and (max-width:319px) {
	/*header*/
	header .logo img {
	    margin-top: 0;
	    max-width: 110px;
	}
	header .header-content .header-right .sitename {
  		padding-left: 0;
	}
	header .menu .menu-mobile-link li a {
		font-size: 14px;
		padding: 12px 5px;
	}
	.footer {
	  margin-bottom: 30px;
	}
}